*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.navbar{
    height:50px;
    background-color :#010e0e;
    color: white;
display: flex;
padding: 0 20px;
align-items: center;
justify-content: space-between;
cursor: pointer;
 padding-bottom: 10px;
}
.nav-logo{
    height: 30px;
    width:100px;
    margin-left:10px;
    margin-top: 2px;
    padding-top: 10px;

}
.logo{
    background-image: url("White-Amazon-Logo-PNG-HD-Quality.png");
    background-size:cover;
    height:30px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:2px solid white;
}

/** box2 **/
.add-frist{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display:flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: darkorange;
    width:700px;
    height:40px;
    border-radius:3px;    
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align:center;
    border-top-left-radius:2px;
    border-bottom-left-radius:4px;
 border: none;
}

.Search-input{
    width:100%;
    font-size: 1rem;
    border: none;
    margin-right: 4px;
    padding-left: 4px;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color:rgb(255, 170, 13);
    border-top-right-radius: 4px;
 border-bottom-right-radius:4px;
 color: #0f1111;
}
.nav-search:hover {
    border: 2px solid orange;
}
.nav-flag{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    
  }
  
  .country-select {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;

  }
  
  .country-select img {
    width:25px;
    height:20px;
    margin-right:5px;
  }

  .lang-text{
    font-size:20px;
    font-weight: bold;
    color:white
      }


/**box4**/
span {
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box5**/
.nav-cart i{
    font-size:30px;
}
.nac-cart{
    font-size: 0.85rem;
    font-weight:700px ;
}
/**panel**/
.panel{
    height:50px;
    background-color:  #222f3d; 
    display:flex;
    color: #cccccc;
    align-items: center;
    justify-content: space-evenly;
    font-size:25px;
}
.panel-ops p{
    display:inline-flex;
    color: #f3f3f3;
    font-size:25px;
    margin-left:20px;
    justify-content: space-between;
}
.nav-item{
    border: 1px solid#ccc;
    padding: 8px 5px;
    margin-right: 5px;
    border: 4px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    font-size:20px;
}
/**hero.section**/
.hero-section{
background-image:url("amzn.jpg");
background-size: cover;
height:450px;
display: flex;
justify-content: center;
align-items: flex-end;

}
.hero-massage{
background-color: white;
color:black;
height:30px;
display: flex;
align-items:center;
justify-content:space-evenly;
width:60%;
margin-bottom:50px;
padding-bottom: 5px;

}
.hero-massage p{
    font-size: 1rem;
}
.hero-massage a{
    color: #007185;
    font-size: 1rem;
    cursor: pointer;
}
/**shop**/
.shop-section{
    display: flex;
    flex-wrap:wrap;
justify-content: space-evenly;
background-color:rgb(148, 245, 243);
background-size:600px;
}
.box {
height:400px;
width:23%;
background-color: white;
padding:20px 0px 15px;
margin-top:5px;
justify-content: space-between;
flex-direction:column;
}
.box p{
    font-size:20px;
}
 .box-img{
        height:280px;
        width: 100%;
        background-size:cover;
        background-position: center;
        margin-top:1rem;
        margin-bottom:1rem;
    }

    .box-content{
        margin:1rem;
        margin-right:1rem;
    }
    .box-content p{
        color: #2162a1;
        margin:1rem;
    }
    .box-section{
background-image:url("28eed2c6-3997-41ee-bc7a-5e7ef1284b84.jpg");
background-size: cover;
height:450px;
display: flex;
justify-content: center;
align-items: flex-end;
margin-top:10px;
margin-bottom: 10px;
    }
    
 
     .foot-panel1{
        background-color: #37475a;
        color: white;
        height:50px;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size:0.85;
     }
     .foot-panel2{
        display: flex;
        background-color:#222f3d;
        color: white;
        height:300px;
        justify-content: space-evenly;
        font-size:14px;
     }
     .foot-panel2 p{
font-size:20px;
     }
     ul a {
display:flex;
margin-top:15px;
font-size:1rem;
color: #dddddd;
cursor: pointer;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
height:60px;
display: flex;
justify-content: center;
align-items: center;

}
.logo{
    background-image: url("White-Amazon-Logo-PNG-HD-Quality.png");
    background-size:cover;
    height:30px;
    width: 100px;
    cursor: pointer;
}

.footer-services{
 display:flex;
        background-color:#131a22;
        color: white;
        height:250px;
        justify-content:space-evenly;  
                    

}

p{
font-size:14px;
margin-top: 15px;
cursor: pointer;
 }


.footer-bottom {
  background-color: #131a22;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
  cursor: pointer;
}


    